ACCOUNT_SID=
AUTH_TOKEN=

PAY_CONNECTOR_NAME=Default

TWILIO_API_KEY=
TWILIO_API_SECRET=

SYNC_SERVICE_SID=

# The Twilio phone number dedicated to handle incoming Twilio Pay calls
TWILIO_PAY_PHONE=

# Stringified array of E164 phone numbers, like so...
# TWILIO_PHONE_POOL=["+18885550001","+18885550002"]
TWILIO_PHONE_POOL=[]

# DOMAIN_NAME is automatically populated by Twilio Functions when deployed.
# You must have a dedicated ngrok domain (https://ngrok.com/docs/guides/how-to-set-up-a-custom-domain/)
# for local development 
DOMAIN_NAME=

# Number of seconds a phone number will be reserved
# This is to handle errors that occur which prevent phone number reservations from being deleted
RESERVATION_TTL=300